<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h4>All Movies</h4>
    {% if movies %}
    <ul>
      <!-- Display Movie -->
      {% for movie in movies %}
      <li>
        <a href="{% url 'moviecharacters:characters' movie.id %}"
          >{{movie.title}}</a
        >
      </li>
      {% endfor %}
    </ul>
    <!-- End of Movies -->
    {% endif %}
  </body>
</html>
